<div id="general-ledger">
  <table class="table">
    <tr class="info">
      <%= simple_form_for(:filters, :html => { :class => 'form-horizontal' }) do |f| %>
        <td><%= f.input :name, collection: User.pluck(:name), label: false, include_blank: true %></td>
        <td><%= f.input :kind, collection: %w(Expense Income), label: false, include_blank: true %></td>
        <td><%= f.input :search, placeholder: 'Try all or a piece of a name', as: :string, label: false %></td>
        <td><%= f.input :amount, placeholder: '10.03, <= 10.03, or > 10.03', as: :string, label: false %></td>
        <td><%= f.input :category, collection: GeneralLedger.first.decorate.categories, label: false %></td>
        <td><%= f.input :date, collection: GeneralLedger.first.decorate.months, label: false, include_blank: true %></td>
        <td><%= f.input :recurring, collection: %w(true false), include_blank: true, label: false%></td>
        <td><%= f.button :submit, 'Apply Filters', id: 'filters-button' %></td>
      <% end %>
    </tr>
    <tr class="info">
      <th>Awesome Person</th>
      <th>Income or Expense</th>
      <th>Name</th>
      <th>Amount</th>
      <th>Category</th>
      <th>Date</th>
      <th>Recurring</th>
      <th>Delete</th>
    </tr>
    <% @transactions.each do |transaction| %>
      <tr class="<%= transaction.kind == 'Expense' ? 'danger' : 'success' %>">
        <td><%= transaction.user.name %></td>
        <td><%= transaction.kind %></td>
        <td><%= transaction.name %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.category %></td>
        <td><%= transaction.formatted_date %></td>
        <td><%= transaction.recurring %></td>
        <td><%= button_to 'Delete', delete_transaction_path(transaction.id), method: :delete, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </table>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal", id='new_transaction_link'>
  Add New Transaction
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@transaction, html: { class: 'form-horizontal' }) do |f| %>
          <%= f.association :user, default: 'Eileen' %>
          <%= f.input :kind, collection: %w(Expense Income), default: 'Expense' %>
          <%= f.input :name %>
          <%= f.input :amount %>
          <%= f.input :category, collection: %w(Food Restaurant Gas Travel Pleasure Rent Paycheck Medical), default: 'Food' %>
          <%= f.input :date, as: :date_picker %>
          <%= f.input :recurring, collection: %w(false true), default: 'false' %>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <%= f.button :submit, 'Save Transaction', class: 'btn btn-primary'%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>