<br>
<br>
<br>
<br>
<p>total net: <%= @summary_hash[:total_net] %></p>
<p>recurring monthly income: <%= @summary_hash[:monthly_recurring_receivable] %></p>
<p>recurring monthly expenses: <%= @summary_hash[:monthly_recurring_payable] %></p>
<p>last months discresionary spending: <%= @summary_hash[:last_month_discresionary_payable] %></p>
<p>forecasted total by <%= @forecast_date %>: <%= @summary_hash[:forecasted_amount] %></p>

